{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}

<div style='text-align: center'>

<div style='width: 640px; margin: auto'>
  <video id="example_video_1" class="video-js vjs-default-skin" autoplay preload="auto" width="640" height="264"
        poster="http://video-js.zencoder.com/oceans-clip.png"
        data-setup="{}">
        <source src="{{video_url}}" type='video/mp4' />
      <track kind="captions" src="captions.vtt" srclang="en" label="English" />
  </video> 
</div>

<hr/>
<p>
<a href='/cuestionario'>Avanzar al cuestionario</a><br/>
<small>(Este enlace se eliminará de la versión final, dado que el asistente avanza automáticamente
cuando el video termina)</small>
</div>

<script>
var myPlayer = _V_("example_video_1");
myPlayer.addEvent("ended", function() {
  document.getElementsByTagName('a')[0].click()
});
</script>

{% endblock %}
